<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\user\Desktop\אור;C:\Users\user\Desktop\noa;C:\Users\user\Desktop\shula"/>
    <add key="OutputDir" value="C:\Users\user\Desktop\TEST1"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>  