@model ImageServiceWeb.Models.RemoveHandlerModel
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>RemoveHandler</h2>

<p>Are you sure you want to remove this handler?</p>
<button class="btn btn-primary" type="button" id="btnOK" style="margin:10px">OK</button>
<button class="btn-danger" type="button" id="btnCANCEL" style="margin:10px">CANCEL</button>

/
<script>

   
    $("#btnOK").click(function () {
        var path = localStorage['objectToPass'];
        localStorage.removeItem('objectToPass'); // Clear the localStorage
        var handler = localStorage['objectToPass2'];
        localStorage.removeItem('objectToPass'); // Clear the localStorage

        $.post("@Url.Action("RemoveHandlerMethod")", path, function (result) {
            if(result == "True"){
                $.import_js('Config.js');
                hideJS(handler);
            } 
            window.location.href = "Config";
            
        });
     });
    
    $("#btnCANCEL").click(function () {
        window.location.href = "Config";
    });

</script>