@model ImageServiceWeb.Models.LogsModel
@{
    ViewBag.Title = "Logs";
}


<head>
    <style>
        h1 {
            color: blue;
            font-weight: bold
        }
    </style>
</head>

<h1>  Logs </h1>
<br />
<div class="col-md-10">
    <input type="text" id="typeID" />
</div>
<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="OK" class="btn btn-primary btn-md" id="btnOK" />
</div><br /><br /><br /><br />

@foreach (var item in Model.LogMessages)
{
    if (item.Color == "YellowGreen")
    {
        <div class="alert alert-success" type="text">
            <strong>INFO!</strong>
            @Html.DisplayFor(modelItem => item.Message)
        </div>
    }
    if (item.Color == "Red")
    {
        <div class="alert alert-danger" type="text">
            <strong>FAIL!</strong>
            @Html.DisplayFor(modelItem => item.Message)
        </div>
    }
    if (item.Color == "Yellow")
    {
        <div class="alert alert-warning" type="text">
            <strong>WARNING!</strong>
            @Html.DisplayFor(modelItem => item.Message)
        </div>
    }
}

<script>
            $("#btnOK").click(function () {

                var input = {
                    type: $("#typeID").val(),
                };
                $.post("@Url.Action("getLogsForType")", input, function (result) {
                    window.location.href = "Logs"
                });
            });
</script>