@model ImageServiceWeb.Models.ConfigModel
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>RemoveHandler</h2>

<p>Are you sure you want to remove this handler?</p>
<button class="btn btn-primary" type="button" id="btnOK" style="margin:10px">OK</button>
<button class="btn btn-primary" type="button" id="btnCANCEL" style="margin:10px">CANCEL</button>


<script>


    $("#btnOK").click(function () {

        document.getElementById("btnOK").disabled = true;
        document.getElementById("btnCANCEL").disabled = true;

        var path = localStorage['objectToPass'];
        localStorage.removeItem('objectToPass'); // Clear the localStorage
        var input = {
            pathOfHandlerToRemove: path
        };
        $.post("@Url.Action("RemoveHandlerMethod")", input, function () {

            window.location.href = "Config";
        });
     });

    $("#btnCANCEL").click(function () {
        window.location.href = "Config";
    });

</script>